<div class="container second_cont">
 <h4>Second page works!</h4>
   <p></p>
   <a routerLink="./subone" routerLinkActive="active-link"><h4 style="display:inline;" class="navsome"> First Sub </h4></a>
   <p></p>
   <a routerLink="./subtwo" routerLinkActive="active-link"><h4 style="display:inline;" class="navsome"> Second Sub </h4></a>
   <router-outlet></router-outlet>
</div>


<!-- <a routerLink="first" routerLinkActive="active-link"><h4>Click for second Sub Page</h4></a>
<a routerLink="second"><h4>Click for second Sub Page</h4></a>
<router-outlet></router-outlet> -->
