<div class="container header">
<div class="row" style="margin:15px">
<a routerLink="" routerLinkActive="active-link"><h4 style="display:inline;" class="navsome"> Home Page </h4></a>
<a routerLink="second" routerLinkActive="active-link"><h4 style="display:inline;" class="navsome"> Second Page </h4></a>
<a routerLink="third" routerLinkActive="active-link"><h4 style="display:inline;" class="navsome"> Third Page </h4></a>
<a routerLink="fourth" routerLinkActive="active-link"><h4 style="display:inline;" class="navsome"> Fourth Page </h4></a>
</div>
</div>
<router-outlet></router-outlet>
